<footer class="footer">
  <div class="sec_tel">
    <section>
      <p class="ttl">お肌相談窓口</p>
      <p class="sttl">
        商品の使い方やお肌に関するご相談
      </p>
      <a class="num" href="tel:0120-714-565">0120-714-565</a>
      <p class="fs_10">※月～金10:00～18:00（土日・祝日はお休み）</p>
    </section>
    <section>
      <p class="ttl">ご注文窓口</p>
      <p class="sttl">
        ご注文、定期お届けサービスの<br>
        お届け日・お申し込み商品・コース変更
      </p>
      <a class="num" href="tel:0120-714-885">0120-714-885</a>
      <p class="fs_10">※月～金10:00～19:00／土日・祝日10:00～17:00</p>
    </section>
    <section>
      <p class="ttl">お問い合わせ窓口</p>
      <p class="sttl">
        返品・交換、定期お届けサービスの解約、<br>
        お支払関連、その他
      </p>
      <a class="num" href="tel:0120-714-115">0120-714-115</a>
      <p class="fs_10">※月～金10:00～19:00／土10:00～17:00（日・祝日はお休み）</p>
    </section>
  </div>
  <div class="wrap_nav">
    <nav>
      <div class="wrap_logo">
        <a href="https://www.decencia.co.jp/" class="logo">敏感肌化粧品のDECENCIA(ディセンシア)｜公式サイト</a>
      </div>
      <ul class="main">
        {% for link in linklists.footer.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="sub">
        <li>
          <a href="https://www.decencia.co.jp/service/">ショッピングガイド</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/store/">店舗情報</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/news/">お知らせ</a>
        </li>
      </ul>
      <ul class="sub">
        <li>
          <a href="https://www.decencia.co.jp/company/">会社概要</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/terms_service/">ご利用規約</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/inscription_law/">特定商取引法</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/recruit/">採用情報</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/terms_privacy/">プライバシーポリシー</a>
        </li>
        <li>
          <a href="https://www.decencia.co.jp/sitemap/">サイトマップ</a>
        </li>
      </ul>
    </nav>
    <div class="bottom">
      <ul>
        <li class="ig">
          <a href="https://www.instagram.com/decencia_official/" target="_blank">Instagram</a>
        </li>
        <li class="ln">
          <a href="https://page.line.me/gdq9960n" target="_blank">Line</a>
        </li>
        <li class="fb">
          <a href="https://www.facebook.com/decenciainc/" target="_blank">Facebook</a>
        </li>
        <li class="tw">
          <a href="https://twitter.com/decenciainc/" target="_blank">Twitter</a>
        </li>
        <li class="yt">
          <a href="https://www.youtube.com/channel/UCrvtWX6RYx1gmzMDFMtIzxg" target="_blank">YouTube</a>
        </li>
      </ul>
      <p class="copyright">© 2022 DECENCIA Inc.</p>
    </div>
  </div>
</footer>